<%- include('header') -%>
  <main>
    <div class="cards">
      <% filterFM.forEach((item) => { %>
        <div class="card">
          <a href="./<%= item.slug %>">
            <div class="card__image">
              <% if(item.image){ %> <img src="<%= item.image %>" alt=""><% }else{ %> <div class="card__fill"></div> <% } %>
            </div>
            <div class="card__content">
              <h2><%= item.title %></h2>
              <p><%= moment(Date.parse(item.date)).format('DD.M.YYYY') %></p>
            </div>
          </a>
        </div>
        <% }) %>
    </div>
  </main>


  <%- include('footer') -%>
